<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div>
    <br>
    <input id ="med" placeholder ="Medicine Name" class ="form" ng-model="med_name"/>
    <br><br>
    <input id ="doseage" placeholder ="Dosage" class ="form" ng-model ="dose"/>
    <br><br>
    Morning:<input id ="mor" type ="checkbox"/> &nbsp;
    Afternoon:<input id ="aft" type ="checkbox"/> &nbsp;
    Evening:<input id ="eve" type ="checkbox"/> &nbsp;
    <br><br>
    <button class ="form" ng-click="med_enter()">Submit</button>
</div>
