<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div  ng-controller="WT">
    <button ng-click="stats()">stats</button>
    <button ng-click="graph()">graph</button>
    <br>
    <div ng-init="read()">
        <h2>Weight</h2>
        <table id ="table">
            <th>date</th>
            <th>value</th>
            <tr ng-repeat="x in user">
                <td>{{ x.CDATE }}</td>
                <td>{{ x.WEIGHT }}</td>
            </tr>
        </table>
    </div>
</div>